
body{margin:0;font-family:Arial;background:#f4f4f4;}
header{background:#222;color:white;padding:15px;text-align:center;}
nav a{color:white;margin:10px;text-decoration:none;}
.hero{text-align:center;padding:40px;background:white;margin:20px;border-radius:10px;}
.profile{width:180px;border-radius:10px;margin-bottom:20px;}
.btn{padding:10px 20px;background:#222;color:white;text-decoration:none;border-radius:5px;}
.projects{display:flex;justify-content:center;gap:20px;padding:20px;}
.card{background:white;padding:15px;border-radius:10px;width:250px;text-align:center;}
.card img{width:100%;border-radius:10px;}
.login-box{width:300px;margin:auto;display:flex;flex-direction:column;gap:10px;}
.login-box input{padding:10px;border-radius:5px;border:1px solid gray;}
